.icons{
    columns: 3;
}
.form{
    background-image: url("https://raw.githubusercontent.com/jonnygovish/IP3/master/assets/backgrounds/c_image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}